{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss", "prettier-plugin-organize-attributes"],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "attributeGroups": ["$CODE_GUIDE", "^placeholder$" , "^required", "^autofocus", "^:", "^wire", "^x-"]
}
